.sumesh{
    background-image: url(https://res.cloudinary.com/urbanclap/image/upload/q_auto,f_auto,fl_progressive:steep,w_2049/t_high_res_template/images/growth/luminosity/1640692667539-86c95c.jpeg);
    height: 9.5rem;
    margin-top: 4rem;
    background-size: contain;
}
  
